{% extends 'layout.html' %}

{% block title %}Loan Products - Your Site{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col">
      <h1>Loan Products</h1>
    </div>
    {% if user.is_authenticated %}
      <div class="col text-right">
        <a class="btn btn-primary" href="{% url 'new_loan_product' %}">Add New Loan Product</a>
      </div>
      {% else %}
    <div class="col text-right">
      <a class="btn btn-primary" href="{% url 'register' %}">Register</a>
    </div>
    {% endif %}
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        {% if user.is_authenticated %}
          <th>Actions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for loan_product in loan_products %}
        <tr>
          <td>{{ loan_product.product_name }}</td>
          <td>{{ loan_product.product_description }}</td>
          {% if user.is_authenticated %}
            <td>
              <a class="btn btn-warning btn-sm" href="{% url 'edit_loan_product' loan_product.id %}">Edit</a>
              <a class="btn btn-danger btn-sm" href="{% url 'delete_loan_product' loan_product.id %}">Delete</a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% endblock %}